.body {
  background-image: url("image/bgi.jpg");
  background-size: auto;
  height: 960px;
  background-size: 100% 100%;
}
#prompt {
  height: 80px;
  font-size: 50px;
  text-align: center;
  line-height: 80px;
  color: #bfa;
}
.mid {
  width: 400px;
  margin: 0 auto;
  height: 265px;
  position: relative;
}
.mid #leftPic {
  position: absolute;
  bottom: 0px;
  left: -300px;
}
.mid #leftPic img {
  vertical-align: bottom;
}
.mid #rightGif {
  position: absolute;
  bottom: 0px;
  right: -300px;
}
.mid #rightGif img {
  vertical-align: bottom;
}
.life {
  position: relative;
  width: 400px;
  height: 265px;
  margin: 0 auto;
  overflow: hidden;
}
.life .title {
  height: 25px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: KaiTi;
}
.life .imgList {
  width: 2000px;
  height: 240px;
  list-style: none;
  display: flex;
  position: absolute;
  left: 0px;
  top: 25px;
}
.life .nav {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50px);
}
.life .nav a {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: red;
  opacity: 0.5;
}
.life .nav a:hover {
  background-color: black;
}
#resumeTitle {
  text-align: center;
  font-family: KaiTi;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
}
.resume {
  width: 1000px;
  height: 100%;
  margin: 0px auto;
  margin-top: 30px;
  display: flex;
}
.left {
  width: 30%;
  height: 100%;
  background-color: #0070C0;
}
.left .person {
  width: 100%;
  margin-top: 20px;
}
.left .person #photo {
  width: 150px;
  height: 200px;
  margin: 0 auto;
  padding-top: 35px;
}
.left .person #name {
  text-align: center;
  font-size: 30px;
  font-family: KaiTi;
  color: white;
  margin-top: 25px;
}
.left .info {
  width: 100%;
  margin-top: 50px;
}
.left .info .nav {
  width: 80%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: auto;
  background-color: #005393;
  color: white;
  font-family: KaiTi;
  font-size: 25px;
  box-shadow: 2px 2px 15px #000;
}
.left .info .ul {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  font-family: KaiTi;
  font-size: 22px;
  color: white;
}
.left .info .ul .li {
  padding: 10px 5px;
}
.left .info .ul .li .value {
  font-size: 20px;
}
.left .contact {
  width: 100%;
  margin-top: 50px;
}
.left .contact .nav {
  width: 80%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: auto;
  background-color: #005393;
  color: white;
  font-family: KaiTi;
  font-size: 25px;
  box-shadow: 2px 2px 15px #000;
}
.left .contact .ul {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  font-family: KaiTi;
  font-size: 22px;
  color: white;
}
.left .contact .ul .li {
  padding: 10px 5px;
}
.left .contact .ul .li .value {
  font-size: 20px;
}
.left .contact .ul .li a {
  color: white;
  font-size: 20px;
}
.right {
  width: 70%;
  height: 100%;
  background-color: #F2F2F2;
}
.right .title {
  display: flex;
  width: 200px;
  height: 70px;
  margin-left: auto;
}
.right .title .content {
  line-height: 70px;
  font-size: SimHei ;
}
.right .title .logo {
  width: 20px;
  height: 20px;
  margin-top: 24px;
  margin-left: 10px;
  background-color: #005393;
}
.right .main {
  margin-left: 30px;
}
.right .main .theme {
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  font-family: SimSun;
  font-weight: 800;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.right .main #edu {
  margin-top: 0;
}
.right .main .content {
  margin-left: 24px;
}
.right .main .education .content .school {
  margin-top: 10px;
  font-family: SimSun;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.right .main .education .content .schoolThing {
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
}
.right .main .projects .content .projectName {
  margin-top: 10px;
  font-family: SimSun;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.right .main .projects .content .description {
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
}
.right .main .projects .content .description a {
  color: black;
  font-size: 16px;
}
.right .main .contests .content .rewards {
  margin-top: 16px;
}
.right .main .contests .content .rewards .rewardName {
  list-style: disc;
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
  margin-left: 38px;
}
.right .main .skills .content .abilities {
  margin-top: 16px;
}
.right .main .skills .content .abilities .skillName {
  list-style: disc;
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
  margin-left: 38px;
}
.right .main .hobbies .content {
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
  margin-left: 38px;
  margin-top: 16px;
}
.name {
  margin-top: 10px;
  font-family: SimSun;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.description {
  width: 600px;
  font-family: SimSun;
  font-size: 16px;
  margin-left: 22px;
  line-height: 22px;
}
